.item{:id => "item-#{item.id}"}
  #{link_to item.name, item_path(item)}
  .pull-right#item-options
    - if item.user_id == current_user.id
      = link_to 'Edit item', edit_item_path(item), {:action => 'edit'} #icon_label 'icon-pencil' method: 'post'
      = link_to 'Delete item', item_path(item), method: 'delete' #, confirm: t('common.are_you_sure?') #icon_label 'icon-trash'

  /.comment{:id => "comment-#{comment.id}"}
  /#{link_to comment_path(path)}
  /- if comment.user_id == current_user.id
  /form_for @comment