= link_to item_path(item) do
  .item{:id => "item-#{item.id}"}
    = item.name

  .pull-right#item-options
    - if item.user_id == current_user.id
      = link_to edit_item_path(item), id: "edit-item-#{item.id}" do
        %icon.icon-pencil
      = link_to item_path(item), id: "destroy-item-#{item.id}", method: 'delete' do
        %icon.icon-trash
    - else
      = item.upvotes.size
      = link_to item_like_path(item), method: :get do
        %icon.icon-thumbs-up
      = link_to item_dislike_path(item), method: :get do
        %icon.icon-thumbs-down
      = 0 - item.downvotes.size
