%div{:id => "item-#{item.id}", :class => "item #{item.category}"}

  = link_to item_path(item), class: "item-link" do
    = item.name

  .item-options
    -if item.comments.count == 1
      #{item.comments.count} comment
    -else
      #{item.comments.count} comments
      / item.comments.count + (item.comments.count ==1 ? : " comment" : " comments")
    - if item.user_id == current_user.id
      = link_to edit_item_path(item), id: "edit-item-#{item.id}" do
        %i.icon-pencil
      = link_to item_path(item), id: "destroy-item-#{item.id}", method: 'delete' do
        %i.icon-trash
    - else
      = item.upvotes.size
      = link_to item_like_path(item), method: :get do
        %i.icon-thumbs-up
      = link_to item_dislike_path(item), method: :get do
        %i.icon-thumbs-down
      = 0 - item.downvotes.size

/ %table
/   %tr
/     %th= "name"
/     %th= "comments"
/     %th= "Likes"
/     %th= "Disikes"
/   - for item in @items
/     %tr
/       %td= item.name
/       %td= item.comments.count
/       %td= item.cached_votes_up
/       %td= item.cached_votes_down
