= page_header
#items
  = render @items
.center#new-item.well.span5
  = simple_form_for @item, html: { id: 'new-item', class: 'form-horizontal' } do |form|
    = form.input :name, required: true
    = form.input :url, required: false
    = form.submit t('common.submit'), class: 'btn btn-success', disabled: true, data: { disable_with: t('common.please_wait') }
