#auth-info
  You are logged in as
  %b 
    %u
      = current_user.name
  %p
%table#items.tablesorter
  %thead
    %tr
      %th
      %th.header= "Name"
      %th.header= "Amount"
      %th.header= "Comments"
      %th.header= "Likes"
      %th.header= "Disikes"
  %tbody
    - @items.each do |item|
      %tr{ :class => "item #{item.category}"}
        %td.opt
          - if item.user_id == current_user.id
            = link_to edit_item_path(item), id: "edit-item-#{item.id}" do
              %i.icon-pencil
            = link_to item_path(item), id: "destroy-item-#{item.id}", method: 'delete' do
              %i.icon-trash
          - else
            = link_to item_like_path(item), method: :get do
              %i.icon-thumbs-up
            = link_to item_dislike_path(item), method: :get do
              %i.icon-thumbs-down
        %td.name
          = link_to(item.name, item)
        %td.narrow 
          = item.amount
        %td.narrow= link_to(item.comments.count, item)
        %td.narrow.voters
          = item.upvotes.count
          #who-voted
            - item.votes.up.by_type(User).voters.each do |item|
              %div
                -if item.name == current_user.name
                  You,
                -else
                  =item.name + ','
        %td.narrow.voters
          = 0 - item.downvotes.size
          #who-voted
            - item.votes.down.by_type(User).voters.each do |item|
              %div
                -if item.name == current_user.name
                  You,
                -else
                  =item.name + ','
          
=render :partial => 'tablesorter_pager'

.legend-wrapper
  %table#legend
    %thead
      %tr
        %th.food
        %th.office
        %th.bathroom
        %th.other
    %tbody
      %tr
        %td= 'food'
        %td= 'office'
        %td= 'bathroom'
        %td= 'other'

  = link_to nil, id: 'new-item-container', class: 'btn btn-danger' do
    = icon_label 'icon-plus', t('authenticated.items.add_item')

#new-item.well.span5
  = simple_form_for @item, html: { class: 'form-horizontal' } do |form|
    = form.input :name, remote: true, placeholder: t('authenticated.items.item.name.input_placeholder'), input_html: { class: 'span5' }, required: true
    %br
    = form.input :URL, label: "URL", remote: true, placeholder: t('authenticated.items.item.url.input_placeholder'), input_html: { class: 'span5' }
    .item
      = form.input :category, :as => :select, collection: Item::CATEGORIES, default: "food"
    = form.input :amount, required: true
    %br
    = form.submit t('common.submit'), class: 'btn btn-success', remote: true, data: { disable_with: t('common.please_wait') }












