#auth-info
  You are logged in as
  %b 
    %u
      = current_user.name
#item-name
  = @item.name
/ .item-options
/   = @item.name do |item|
/   - if item.user_id == current_user.id
/     = link_to edit_item_path(item), id: "edit-item-#{item.id}" do
/       %i.icon-pencil
/     = link_to item_path(item), id: "destroy-item-#{item.id}", method: 'delete' do
/       %i.icon-trash
/   - else
/     = item.upvotes.size
/     = link_to item_like_path(item), method: :get do
/       %i.icon-thumbs-up
/     = link_to item_dislike_path(item), method: :get do
/       %i.icon-thumbs-down
/     = 0 - item.downvotes.size
#request-info
  %strong
    = @item.user.name
  requested
  = @item.name
  = time_ago_in_words(@item.created_at) 
  ago
  %br
  Amount: #{@item.amount}
  %br
  - unless @item.URL.blank?
    Link: 
    =link_to @item.URL, @item.URL, target: "_blank"
  %br
%hr
- if @comments.count == 1
  There is 1 comment to this item
- elsif @comments.count > 0
  There are #{@comments.count} comments on this item
- else
  There are no comments yet. 
%hr
- @comments.each do |comment|
  = comment.user.name
  wrote
  %br
  = comment.content

  .comment-options
    - if comment.user_id == current_user.id
      = link_to edit_comment_path(@item, comment), id: "edit-comment-#{comment.id}" do
        %i.icon-pencil
      = link_to item_comment_path(@item, comment), id: "destroy-comment-#{comment.id}", method: 'delete' do
        %i.icon-trash
    - else
      = @comment.upvotes.size
      = link_to comment_like_path(comment), method: :get do
        %i.icon-thumbs-up
      = link_to comment_dislike_path(comment), method: :get do
        %i.icon-thumbs-down
      = 0 - @comment.downvotes.size

= render :partial => '/authenticated/comments/new'

.center
  %hr
  = link_to 'Back to the list of items', {:action => 'index'}, class: 'important'
  %hr


