#auth-info
  You are logged in as
  %b 
    %u
      = current_user.name
#item-name
  = @item.name
  /.pull-right#item-options
  /  = @item.likes.size
  /  = link_to like_item_path(item), method: :put do
  /    %icon.icon-thumbs-up
  /  = @item.dislikes.size
  /  = link_to dislike_item_path(item), method: :put do
  /    %icon.icon-thumbs-down
  /  = link_to edit_item_path(item), { :action => 'edit' } do
  /    %icon.icon-pencil
  /  = link_to item_path(item), method: 'delete' do
  /    %icon.icon-trash
#request-info
  %strong
    = @item.user.name
  requested
  - if @item.amount == nil
    = @item.name
  - elsif @item.amount.match(/\d+$/)
    = @item.amount
    = @item.name
  - else
    = @item.amount
    of
    = @item.name
  
  = time_ago_in_words(@item.created_at) 
  ago
  = @item.url
  %br
%hr
- if @item.comments.count == 1
  There is 1 comment to this item
- elsif @item.comments.count > 0
  There are
  = @item.comments.count
  comments on this item
- else
  There are no comments yet.
%hr
= render partial: 'the_comments/tree', locals: { commentable: @item, comments_tree: @comments }
.center
  %hr
  = link_to 'Back to list of items', {:action => 'index'}, class: 'important'
  %hr