%h2
  = @item.name
%br
This item was requested by
%strong
  = current_user.email
%br
%br
  %strong Request date:
= @item.created_at
%br
= @item.url
/%p= @item.comments
%hr
= link_to 'Back to list of items', {:action => 'index'}