%h2 Change your password
= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
  = f.error_notification
  = f.input :reset_password_token, :as => :hidden
  = f.full_error :reset_password_token
  %div
    = f.password_field :password, :required => true, :autofocus => true, :placeholder => "New password"
  %br
    = f.password_field :password, :required => true, :autofocus => true, :placeholder => "Confirm your new password"
  %div= f.submit "Change my password", class: 'btn btn-success', data: { disable_with: t('common.please_wait') }
= render "devise/shared/links"

/ %div
/     = f.input :password, :label => "New password", :required => true, :autofocus => true
/     = f.input :password_confirmation, :label => "Confirm your new password", :required => true
/   %div= f.submit "Change my password", class: 'btn btn-success', data: { disable_with: t('common.please_wait') }