- if user_signed_in?
  = t('.greeting', url: items_path, name: current_user.name).html_safe
-else
  #authentication-options
    #{link_to t('auth.sign_in'), new_user_session_path, class: 'btn'} 
    \#{link_to t('auth.sign_up'), new_user_registration_path, class: 'btn'} 
    %br
    %br
    \#{link_to t('auth.sign_in_facebook'), user_omniauth_authorize_path(:facebook), class: 'btn' }

    \#{link_to t('auth.sign_in_google'), user_omniauth_authorize_path(:google_oauth2), class: 'btn' }
