
- content_for :comments_main do
  = paginate @comments

  .comments
    - @comments.each do |comment|
      - klass = { published: :primary, draft: :warning, deleted: :danger }[comment.state.to_sym]
      .panel{ class: "panel-#{klass}" }
        .panel-body
          = render partial: 'the_comments/haml/comment_body', locals: { comment: comment }
          = @comment.user.name

  = paginate @comments